.custom-range-wrapper,
.custom-range-wrapper *,
.custom-range-wrapper *::before,
.custom-range-wrapper *::after,
.custom-range-wrapper *::-webkit-slider-thumb,
.custom-range-wrapper *::-webkit-slider-runnable-track {
    appearance: none;
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
}

.custom-range-wrapper {
    display: grid;
    position: relative;
    grid-template-areas:
        'label titleValue'
        'inputRange inputRange'
        'datalist datalist';
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;

    padding: 12px 1rem 24px 1rem;
    color: var(--dark-gray-color);
}

.custom-range-wrapper output {
    display: block;

    grid-area: titleValue;
    align-self: flex-end;
    justify-self: flex-end;
    cursor: default;
    margin: 0 5px 1px 5px;
    border: 1px dashed var(--range-output-border);
    border-radius: 10%;
    background-color: var(--range-output-bg-color);
    padding: 0px 5px 0px 2px;
    width: 4em;
    color: var(--range-output-font);
    font-weight: 500;
    text-align: end;
}

.custom-range-wrapper label {
    grid-area: label;
    padding: 0px 1px 1px 1px;
    font-size: var(--range-label-font-size);
}

.custom-range-wrapper input[type='range'] {
    position: relative;

    grid-area: inputRange;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: var(--range-height);
}

.custom-range-wrapper input[type='range']:focus {
    outline: none;
}
@media (pointer: fine) and (hover: hover) {
    .custom-range-wrapper input[type='range']:focus {
        outline: 2px solid var(--range-focus-outline);
    }
}
.custom-range-wrapper input[type='range'].focusOn {
    outline: 2px solid var(--range-focus-outline);
}

.custom-range-wrapper input[type='range']::-webkit-slider-thumb {
    position: relative;
    top: calc(var(--range-track-height) / 2);
    transform: translateY(-50%);
    outline: 0;
    box-shadow: 0;
    border-radius: var(--range-thumb-border-radius);

    background-color: var(--range-thumb-color);
    width: var(--range-thumb-size);
    height: var(--range-thumb-size);
    /* -webkit-transition: background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out; */
    /* transition: background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out; */
}
.custom-range-wrapper input[type='range']:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--range-thumb-color);
}
.custom-range-wrapper input[type='range']::-webkit-slider-thumb:active {
    box-shadow: 0 0 0 1px var(--range-thumb-color), 0 0 0 2px var(--range-thumb-color);
    background-color: var(--range-thumb-active-color);
}

.custom-range-wrapper input[type='range']:focus::-moz-range-thumb {
    box-shadow: 0 0 0 2px #fff, 0 0 0px 3px var(--range-thumb-color);
}
.custom-range-wrapper input[type='range']:focus::-ms-thumb {
    box-shadow: 0 0 0 2px #fff, 0 0 0px 3px var(--range-thumb-color);
}
.custom-range-wrapper input[type='range']::-moz-focus-outer {
    border: 0;
}

.custom-range-wrapper input[type='range']::-webkit-slider-runnable-track {
    margin: 0 var(--range-track-margin-horizontally);
    /* border-radius: var(--range-track-height); */
    border-radius: 0;
    background: linear-gradient(
            to right,
            var(--range-track-fill-bg-color),
            var(--range-track-fill-bg-color)
        ),
        var(--range-track-bg-color);
    background-color: var(--range-track-bg-color);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    width: 100%;

    height: var(--range-track-height);
}

.custom-range-wrapper datalist {
    display: flex;
    position: relative;

    grid-area: datalist;
    justify-content: space-between;
    padding: 0
        calc((var(--range-thumb-size) / 2) + var(--range-track-margin-horizontally));
    font-size: 0;
}

.custom-range-wrapper option {
    width: 0px;
    height: 0px;
    min-height: 0px;
}

.custom-range-wrapper option::before {
    position: absolute;
    top: calc((var(--range-height) / -2) + (var(--range-track-height) / 2));
    transform: translateX(-50%);
    background-color: var(--range-option-scale-bg-color);

    width: var(--range-scale-divisions-width);
    height: var(--range-scale-divisions-height);
    /* option scale divisions */
    font-size: 0;
    line-height: 0;
    content: '';
}
.custom-range-wrapper option.fill::before {
    background-color: var(--range-option-scale-fill-bg-color);
}

.custom-range-wrapper option::after {
    position: absolute;
    top: calc(2px + 0.5em + var(--range-option-label-shiftY));
    transform: translateX(-50%) translateY(-50%);
    color: var(--range-option-label-color);
    /* 2px - outline */

    font-size: var(--range-option-font-size);
    font-weight: 400;
    /* option text label */
    content: attr(label);
}
.custom-range-wrapper option.fill::after {
    color: var(--range-option-label-fill-color);
}
