:root {
  /* --range-height: 20px; */
  --range-height: max(var(--range-track-height), var(--range-thumb-size));

  /* WARNING! Need thumb-size>= track-height */
  --range-track-height: 6px;
  --range-thumb-size: 16px;

  /* --range-track-margin-horizontally: 0px; */
  --range-thumb-border-radius: 0%;
  --range-scale-divisions-height: 5px;
  --range-scale-divisions-width: 1px;
  --range-option-label-shiftY: 1px;
  --range-option-font-size: 14px;
  --range-label-font-size: 17px;

  --theme-color: 213;
  --very-strong-color: hsl(var(--theme-color), 86%, 48%);
  --strong-color: hsl(var(--theme-color), 74%, 64%);
  --medium-color: hsl(var(--theme-color), 70%, 71%);
  --pre-medium-color: hsl(var(--theme-color), 70%, 76%);
  --light-color: hsl(var(--theme-color), 70%, 87%);
  --very-light-color: hsl(var(--theme-color), 100%, 98.5%);
  --light-transparent5-color: hsl(var(--theme-color), 100%, 87%, 9%);
  --dark-gray-color: hsl(var(--theme-color), 10%, 34%);

  --light-gray: hsl(0, 0%, 91%);
  --gray: hsl(0, 0%, 83%);

  --range-track-fill-bg-color: var(--pre-medium-color);
  --range-track-bg-color: var(--light-gray);
  --range-thumb-color: var(--strong-color);
  --range-thumb-active-color: var(--very-strong-color);
  --range-option-label-color: var(--gray);
  --range-option-label-fill-color: var(--medium-color);
  --range-option-scale-bg-color: var(--light-gray);
  --range-option-scale-fill-bg-color: var(--light-color);
  --range-output-font-color: var(--very-strong-color);
  --range-focus-outline-color: var(--strong-color);
  --range-output-border-color: var(--light-color);
  --range-output-bg-color: var(--light-transparent5-color);
}

@-moz-document url-prefix() {
  :root {
    --range-margin-up-down: calc((var(--range-thumb-size) - var(--range-track-height)) / 2);
  }
}
