@keyframes changeBgColor {
    0.0% {
        --theme-color: 0;
    }
    0.3% {
        --theme-color: 1;
    }
    0.6% {
        --theme-color: 2;
    }
    0.8% {
        --theme-color: 3;
    }
    1.1% {
        --theme-color: 4;
    }
    1.4% {
        --theme-color: 5;
    }
    1.7% {
        --theme-color: 6;
    }
    1.9% {
        --theme-color: 7;
    }
    2.2% {
        --theme-color: 8;
    }
    2.5% {
        --theme-color: 9;
    }
    2.8% {
        --theme-color: 10;
    }
    3.1% {
        --theme-color: 11;
    }
    3.3% {
        --theme-color: 12;
    }
    3.6% {
        --theme-color: 13;
    }
    3.9% {
        --theme-color: 14;
    }
    4.2% {
        --theme-color: 15;
    }
    4.4% {
        --theme-color: 16;
    }
    4.7% {
        --theme-color: 17;
    }
    5.0% {
        --theme-color: 18;
    }
    5.3% {
        --theme-color: 19;
    }
    5.6% {
        --theme-color: 20;
    }
    5.8% {
        --theme-color: 21;
    }
    6.1% {
        --theme-color: 22;
    }
    6.4% {
        --theme-color: 23;
    }
    6.7% {
        --theme-color: 24;
    }
    6.9% {
        --theme-color: 25;
    }
    7.2% {
        --theme-color: 26;
    }
    7.5% {
        --theme-color: 27;
    }
    7.8% {
        --theme-color: 28;
    }
    8.1% {
        --theme-color: 29;
    }
    8.3% {
        --theme-color: 30;
    }
    8.6% {
        --theme-color: 31;
    }
    8.9% {
        --theme-color: 32;
    }
    9.2% {
        --theme-color: 33;
    }
    9.4% {
        --theme-color: 34;
    }
    9.7% {
        --theme-color: 35;
    }
    10.0% {
        --theme-color: 36;
    }
    10.3% {
        --theme-color: 37;
    }
    10.6% {
        --theme-color: 38;
    }
    10.8% {
        --theme-color: 39;
    }
    11.1% {
        --theme-color: 40;
    }
    11.4% {
        --theme-color: 41;
    }
    11.7% {
        --theme-color: 42;
    }
    11.9% {
        --theme-color: 43;
    }
    12.2% {
        --theme-color: 44;
    }
    12.5% {
        --theme-color: 45;
    }
    12.8% {
        --theme-color: 46;
    }
    13.1% {
        --theme-color: 47;
    }
    13.3% {
        --theme-color: 48;
    }
    13.6% {
        --theme-color: 49;
    }
    13.9% {
        --theme-color: 50;
    }
    14.2% {
        --theme-color: 51;
    }
    14.4% {
        --theme-color: 52;
    }
    14.7% {
        --theme-color: 53;
    }
    15.0% {
        --theme-color: 54;
    }
    15.3% {
        --theme-color: 55;
    }
    15.6% {
        --theme-color: 56;
    }
    15.8% {
        --theme-color: 57;
    }
    16.1% {
        --theme-color: 58;
    }
    16.4% {
        --theme-color: 59;
    }
    16.7% {
        --theme-color: 60;
    }
    16.9% {
        --theme-color: 61;
    }
    17.2% {
        --theme-color: 62;
    }
    17.5% {
        --theme-color: 63;
    }
    17.8% {
        --theme-color: 64;
    }
    18.1% {
        --theme-color: 65;
    }
    18.3% {
        --theme-color: 66;
    }
    18.6% {
        --theme-color: 67;
    }
    18.9% {
        --theme-color: 68;
    }
    19.2% {
        --theme-color: 69;
    }
    19.4% {
        --theme-color: 70;
    }
    19.7% {
        --theme-color: 71;
    }
    20.0% {
        --theme-color: 72;
    }
    20.3% {
        --theme-color: 73;
    }
    20.6% {
        --theme-color: 74;
    }
    20.8% {
        --theme-color: 75;
    }
    21.1% {
        --theme-color: 76;
    }
    21.4% {
        --theme-color: 77;
    }
    21.7% {
        --theme-color: 78;
    }
    21.9% {
        --theme-color: 79;
    }
    22.2% {
        --theme-color: 80;
    }
    22.5% {
        --theme-color: 81;
    }
    22.8% {
        --theme-color: 82;
    }
    23.1% {
        --theme-color: 83;
    }
    23.3% {
        --theme-color: 84;
    }
    23.6% {
        --theme-color: 85;
    }
    23.9% {
        --theme-color: 86;
    }
    24.2% {
        --theme-color: 87;
    }
    24.4% {
        --theme-color: 88;
    }
    24.7% {
        --theme-color: 89;
    }
    25.0% {
        --theme-color: 90;
    }
    25.3% {
        --theme-color: 91;
    }
    25.6% {
        --theme-color: 92;
    }
    25.8% {
        --theme-color: 93;
    }
    26.1% {
        --theme-color: 94;
    }
    26.4% {
        --theme-color: 95;
    }
    26.7% {
        --theme-color: 96;
    }
    26.9% {
        --theme-color: 97;
    }
    27.2% {
        --theme-color: 98;
    }
    27.5% {
        --theme-color: 99;
    }
    27.8% {
        --theme-color: 100;
    }
    28.1% {
        --theme-color: 101;
    }
    28.3% {
        --theme-color: 102;
    }
    28.6% {
        --theme-color: 103;
    }
    28.9% {
        --theme-color: 104;
    }
    29.2% {
        --theme-color: 105;
    }
    29.4% {
        --theme-color: 106;
    }
    29.7% {
        --theme-color: 107;
    }
    30.0% {
        --theme-color: 108;
    }
    30.3% {
        --theme-color: 109;
    }
    30.6% {
        --theme-color: 110;
    }
    30.8% {
        --theme-color: 111;
    }
    31.1% {
        --theme-color: 112;
    }
    31.4% {
        --theme-color: 113;
    }
    31.7% {
        --theme-color: 114;
    }
    31.9% {
        --theme-color: 115;
    }
    32.2% {
        --theme-color: 116;
    }
    32.5% {
        --theme-color: 117;
    }
    32.8% {
        --theme-color: 118;
    }
    33.1% {
        --theme-color: 119;
    }
    33.3% {
        --theme-color: 120;
    }
    33.6% {
        --theme-color: 121;
    }
    33.9% {
        --theme-color: 122;
    }
    34.2% {
        --theme-color: 123;
    }
    34.4% {
        --theme-color: 124;
    }
    34.7% {
        --theme-color: 125;
    }
    35.0% {
        --theme-color: 126;
    }
    35.3% {
        --theme-color: 127;
    }
    35.6% {
        --theme-color: 128;
    }
    35.8% {
        --theme-color: 129;
    }
    36.1% {
        --theme-color: 130;
    }
    36.4% {
        --theme-color: 131;
    }
    36.7% {
        --theme-color: 132;
    }
    36.9% {
        --theme-color: 133;
    }
    37.2% {
        --theme-color: 134;
    }
    37.5% {
        --theme-color: 135;
    }
    37.8% {
        --theme-color: 136;
    }
    38.1% {
        --theme-color: 137;
    }
    38.3% {
        --theme-color: 138;
    }
    38.6% {
        --theme-color: 139;
    }
    38.9% {
        --theme-color: 140;
    }
    39.2% {
        --theme-color: 141;
    }
    39.4% {
        --theme-color: 142;
    }
    39.7% {
        --theme-color: 143;
    }
    40.0% {
        --theme-color: 144;
    }
    40.3% {
        --theme-color: 145;
    }
    40.6% {
        --theme-color: 146;
    }
    40.8% {
        --theme-color: 147;
    }
    41.1% {
        --theme-color: 148;
    }
    41.4% {
        --theme-color: 149;
    }
    41.7% {
        --theme-color: 150;
    }
    41.9% {
        --theme-color: 151;
    }
    42.2% {
        --theme-color: 152;
    }
    42.5% {
        --theme-color: 153;
    }
    42.8% {
        --theme-color: 154;
    }
    43.1% {
        --theme-color: 155;
    }
    43.3% {
        --theme-color: 156;
    }
    43.6% {
        --theme-color: 157;
    }
    43.9% {
        --theme-color: 158;
    }
    44.2% {
        --theme-color: 159;
    }
    44.4% {
        --theme-color: 160;
    }
    44.7% {
        --theme-color: 161;
    }
    45.0% {
        --theme-color: 162;
    }
    45.3% {
        --theme-color: 163;
    }
    45.6% {
        --theme-color: 164;
    }
    45.8% {
        --theme-color: 165;
    }
    46.1% {
        --theme-color: 166;
    }
    46.4% {
        --theme-color: 167;
    }
    46.7% {
        --theme-color: 168;
    }
    46.9% {
        --theme-color: 169;
    }
    47.2% {
        --theme-color: 170;
    }
    47.5% {
        --theme-color: 171;
    }
    47.8% {
        --theme-color: 172;
    }
    48.1% {
        --theme-color: 173;
    }
    48.3% {
        --theme-color: 174;
    }
    48.6% {
        --theme-color: 175;
    }
    48.9% {
        --theme-color: 176;
    }
    49.2% {
        --theme-color: 177;
    }
    49.4% {
        --theme-color: 178;
    }
    49.7% {
        --theme-color: 179;
    }
    50.0% {
        --theme-color: 180;
    }
    50.3% {
        --theme-color: 181;
    }
    50.6% {
        --theme-color: 182;
    }
    50.8% {
        --theme-color: 183;
    }
    51.1% {
        --theme-color: 184;
    }
    51.4% {
        --theme-color: 185;
    }
    51.7% {
        --theme-color: 186;
    }
    51.9% {
        --theme-color: 187;
    }
    52.2% {
        --theme-color: 188;
    }
    52.5% {
        --theme-color: 189;
    }
    52.8% {
        --theme-color: 190;
    }
    53.1% {
        --theme-color: 191;
    }
    53.3% {
        --theme-color: 192;
    }
    53.6% {
        --theme-color: 193;
    }
    53.9% {
        --theme-color: 194;
    }
    54.2% {
        --theme-color: 195;
    }
    54.4% {
        --theme-color: 196;
    }
    54.7% {
        --theme-color: 197;
    }
    55.0% {
        --theme-color: 198;
    }
    55.3% {
        --theme-color: 199;
    }
    55.6% {
        --theme-color: 200;
    }
    55.8% {
        --theme-color: 201;
    }
    56.1% {
        --theme-color: 202;
    }
    56.4% {
        --theme-color: 203;
    }
    56.7% {
        --theme-color: 204;
    }
    56.9% {
        --theme-color: 205;
    }
    57.2% {
        --theme-color: 206;
    }
    57.5% {
        --theme-color: 207;
    }
    57.8% {
        --theme-color: 208;
    }
    58.1% {
        --theme-color: 209;
    }
    58.3% {
        --theme-color: 210;
    }
    58.6% {
        --theme-color: 211;
    }
    58.9% {
        --theme-color: 212;
    }
    59.2% {
        --theme-color: 213;
    }
    59.4% {
        --theme-color: 214;
    }
    59.7% {
        --theme-color: 215;
    }
    60.0% {
        --theme-color: 216;
    }
    60.3% {
        --theme-color: 217;
    }
    60.6% {
        --theme-color: 218;
    }
    60.8% {
        --theme-color: 219;
    }
    61.1% {
        --theme-color: 220;
    }
    61.4% {
        --theme-color: 221;
    }
    61.7% {
        --theme-color: 222;
    }
    61.9% {
        --theme-color: 223;
    }
    62.2% {
        --theme-color: 224;
    }
    62.5% {
        --theme-color: 225;
    }
    62.8% {
        --theme-color: 226;
    }
    63.1% {
        --theme-color: 227;
    }
    63.3% {
        --theme-color: 228;
    }
    63.6% {
        --theme-color: 229;
    }
    63.9% {
        --theme-color: 230;
    }
    64.2% {
        --theme-color: 231;
    }
    64.4% {
        --theme-color: 232;
    }
    64.7% {
        --theme-color: 233;
    }
    65.0% {
        --theme-color: 234;
    }
    65.3% {
        --theme-color: 235;
    }
    65.6% {
        --theme-color: 236;
    }
    65.8% {
        --theme-color: 237;
    }
    66.1% {
        --theme-color: 238;
    }
    66.4% {
        --theme-color: 239;
    }
    66.7% {
        --theme-color: 240;
    }
    66.9% {
        --theme-color: 241;
    }
    67.2% {
        --theme-color: 242;
    }
    67.5% {
        --theme-color: 243;
    }
    67.8% {
        --theme-color: 244;
    }
    68.1% {
        --theme-color: 245;
    }
    68.3% {
        --theme-color: 246;
    }
    68.6% {
        --theme-color: 247;
    }
    68.9% {
        --theme-color: 248;
    }
    69.2% {
        --theme-color: 249;
    }
    69.4% {
        --theme-color: 250;
    }
    69.7% {
        --theme-color: 251;
    }
    70.0% {
        --theme-color: 252;
    }
    70.3% {
        --theme-color: 253;
    }
    70.6% {
        --theme-color: 254;
    }
    70.8% {
        --theme-color: 255;
    }
    71.1% {
        --theme-color: 256;
    }
    71.4% {
        --theme-color: 257;
    }
    71.7% {
        --theme-color: 258;
    }
    71.9% {
        --theme-color: 259;
    }
    72.2% {
        --theme-color: 260;
    }
    72.5% {
        --theme-color: 261;
    }
    72.8% {
        --theme-color: 262;
    }
    73.1% {
        --theme-color: 263;
    }
    73.3% {
        --theme-color: 264;
    }
    73.6% {
        --theme-color: 265;
    }
    73.9% {
        --theme-color: 266;
    }
    74.2% {
        --theme-color: 267;
    }
    74.4% {
        --theme-color: 268;
    }
    74.7% {
        --theme-color: 269;
    }
    75.0% {
        --theme-color: 270;
    }
    75.3% {
        --theme-color: 271;
    }
    75.6% {
        --theme-color: 272;
    }
    75.8% {
        --theme-color: 273;
    }
    76.1% {
        --theme-color: 274;
    }
    76.4% {
        --theme-color: 275;
    }
    76.7% {
        --theme-color: 276;
    }
    76.9% {
        --theme-color: 277;
    }
    77.2% {
        --theme-color: 278;
    }
    77.5% {
        --theme-color: 279;
    }
    77.8% {
        --theme-color: 280;
    }
    78.1% {
        --theme-color: 281;
    }
    78.3% {
        --theme-color: 282;
    }
    78.6% {
        --theme-color: 283;
    }
    78.9% {
        --theme-color: 284;
    }
    79.2% {
        --theme-color: 285;
    }
    79.4% {
        --theme-color: 286;
    }
    79.7% {
        --theme-color: 287;
    }
    80.0% {
        --theme-color: 288;
    }
    80.3% {
        --theme-color: 289;
    }
    80.6% {
        --theme-color: 290;
    }
    80.8% {
        --theme-color: 291;
    }
    81.1% {
        --theme-color: 292;
    }
    81.4% {
        --theme-color: 293;
    }
    81.7% {
        --theme-color: 294;
    }
    81.9% {
        --theme-color: 295;
    }
    82.2% {
        --theme-color: 296;
    }
    82.5% {
        --theme-color: 297;
    }
    82.8% {
        --theme-color: 298;
    }
    83.1% {
        --theme-color: 299;
    }
    83.3% {
        --theme-color: 300;
    }
    83.6% {
        --theme-color: 301;
    }
    83.9% {
        --theme-color: 302;
    }
    84.2% {
        --theme-color: 303;
    }
    84.4% {
        --theme-color: 304;
    }
    84.7% {
        --theme-color: 305;
    }
    85.0% {
        --theme-color: 306;
    }
    85.3% {
        --theme-color: 307;
    }
    85.6% {
        --theme-color: 308;
    }
    85.8% {
        --theme-color: 309;
    }
    86.1% {
        --theme-color: 310;
    }
    86.4% {
        --theme-color: 311;
    }
    86.7% {
        --theme-color: 312;
    }
    86.9% {
        --theme-color: 313;
    }
    87.2% {
        --theme-color: 314;
    }
    87.5% {
        --theme-color: 315;
    }
    87.8% {
        --theme-color: 316;
    }
    88.1% {
        --theme-color: 317;
    }
    88.3% {
        --theme-color: 318;
    }
    88.6% {
        --theme-color: 319;
    }
    88.9% {
        --theme-color: 320;
    }
    89.2% {
        --theme-color: 321;
    }
    89.4% {
        --theme-color: 322;
    }
    89.7% {
        --theme-color: 323;
    }
    90.0% {
        --theme-color: 324;
    }
    90.3% {
        --theme-color: 325;
    }
    90.6% {
        --theme-color: 326;
    }
    90.8% {
        --theme-color: 327;
    }
    91.1% {
        --theme-color: 328;
    }
    91.4% {
        --theme-color: 329;
    }
    91.7% {
        --theme-color: 330;
    }
    91.9% {
        --theme-color: 331;
    }
    92.2% {
        --theme-color: 332;
    }
    92.5% {
        --theme-color: 333;
    }
    92.8% {
        --theme-color: 334;
    }
    93.1% {
        --theme-color: 335;
    }
    93.3% {
        --theme-color: 336;
    }
    93.6% {
        --theme-color: 337;
    }
    93.9% {
        --theme-color: 338;
    }
    94.2% {
        --theme-color: 339;
    }
    94.4% {
        --theme-color: 340;
    }
    94.7% {
        --theme-color: 341;
    }
    95.0% {
        --theme-color: 342;
    }
    95.3% {
        --theme-color: 343;
    }
    95.6% {
        --theme-color: 344;
    }
    95.8% {
        --theme-color: 345;
    }
    96.1% {
        --theme-color: 346;
    }
    96.4% {
        --theme-color: 347;
    }
    96.7% {
        --theme-color: 348;
    }
    96.9% {
        --theme-color: 349;
    }
    97.2% {
        --theme-color: 350;
    }
    97.5% {
        --theme-color: 351;
    }
    97.8% {
        --theme-color: 352;
    }
    98.1% {
        --theme-color: 353;
    }
    98.3% {
        --theme-color: 354;
    }
    98.6% {
        --theme-color: 355;
    }
    98.9% {
        --theme-color: 356;
    }
    99.2% {
        --theme-color: 357;
    }
    99.4% {
        --theme-color: 358;
    }
    99.7% {
        --theme-color: 359;
    }
    100.0% {
        --theme-color: 360;
    }
}
:root {
    animation: changeBgColor linear 26s infinite;
    animation-play-state: paused;
}
:root.runningAnimation {
    animation-play-state: running;
}
