@keyframes changeBgColor {
    1% {
        --theme-color: 0;
    }
    50% {
        --theme-color: 178;
    }
    49.7% {
        --theme-color: 179;
    }
    50.0% {
        --theme-color: 180;
    }
    50.3% {
        --theme-color: 181;
    }
    50.6% {
        --theme-color: 182;
    }
    50.8% {
        --theme-color: 183;
    }
    51.1% {
        --theme-color: 184;
    }
    51.4% {
        --theme-color: 185;
    }
    51.7% {
        --theme-color: 186;
    }
    51.9% {
        --theme-color: 187;
    }
    52.2% {
        --theme-color: 188;
    }
    52.5% {
        --theme-color: 189;
    }
    52.8% {
        --theme-color: 190;
    }
    53.1% {
        --theme-color: 191;
    }
    53.3% {
        --theme-color: 192;
    }
    53.6% {
        --theme-color: 193;
    }
    53.9% {
        --theme-color: 194;
    }
    54.2% {
        --theme-color: 195;
    }
    54.4% {
        --theme-color: 196;
    }
    54.7% {
        --theme-color: 197;
    }
    55.0% {
        --theme-color: 198;
    }
    55.3% {
        --theme-color: 199;
    }
    55.6% {
        --theme-color: 200;
    }
    55.8% {
        --theme-color: 201;
    }
    56.1% {
        --theme-color: 202;
    }
    56.4% {
        --theme-color: 203;
    }
    56.7% {
        --theme-color: 204;
    }
    56.9% {
        --theme-color: 205;
    }
    57.2% {
        --theme-color: 206;
    }
    57.5% {
        --theme-color: 207;
    }
    57.8% {
        --theme-color: 208;
    }
    58.1% {
        --theme-color: 209;
    }
    58.3% {
        --theme-color: 210;
    }
    58.6% {
        --theme-color: 211;
    }
    58.9% {
        --theme-color: 212;
    }
    59.2% {
        --theme-color: 213;
    }
    59.4% {
        --theme-color: 214;
    }
    59.7% {
        --theme-color: 215;
    }
    60.0% {
        --theme-color: 216;
    }
    60.3% {
        --theme-color: 217;
    }
    60.6% {
        --theme-color: 218;
    }
    60.8% {
        --theme-color: 219;
    }
    61.1% {
        --theme-color: 220;
    }
    61.4% {
        --theme-color: 221;
    }
    61.7% {
        --theme-color: 222;
    }
    61.9% {
        --theme-color: 223;
    }
    62.2% {
        --theme-color: 224;
    }
    62.5% {
        --theme-color: 225;
    }
    62.8% {
        --theme-color: 226;
    }
    63.1% {
        --theme-color: 227;
    }
    63.3% {
        --theme-color: 228;
    }
    63.6% {
        --theme-color: 229;
    }
    63.9% {
        --theme-color: 230;
    }
    64.2% {
        --theme-color: 231;
    }
    64.4% {
        --theme-color: 232;
    }
    64.7% {
        --theme-color: 233;
    }
    65.0% {
        --theme-color: 234;
    }
    65.3% {
        --theme-color: 235;
    }
    65.6% {
        --theme-color: 236;
    }
    65.8% {
        --theme-color: 237;
    }
    66.1% {
        --theme-color: 238;
    }
    66.4% {
        --theme-color: 239;
    }
    66.7% {
        --theme-color: 240;
    }
    66.9% {
        --theme-color: 241;
    }
    67.2% {
        --theme-color: 242;
    }
    67.5% {
        --theme-color: 243;
    }
    67.8% {
        --theme-color: 244;
    }
    68.1% {
        --theme-color: 245;
    }
    68.3% {
        --theme-color: 246;
    }
    68.6% {
        --theme-color: 247;
    }
    68.9% {
        --theme-color: 248;
    }
    69.2% {
        --theme-color: 249;
    }
    69.4% {
        --theme-color: 250;
    }
    69.7% {
        --theme-color: 251;
    }
    70.0% {
        --theme-color: 252;
    }
    70.3% {
        --theme-color: 253;
    }
    70.6% {
        --theme-color: 254;
    }
    70.8% {
        --theme-color: 255;
    }
    71.1% {
        --theme-color: 256;
    }
    71.4% {
        --theme-color: 257;
    }
    71.7% {
        --theme-color: 258;
    }
    71.9% {
        --theme-color: 259;
    }
    72.2% {
        --theme-color: 260;
    }
    72.5% {
        --theme-color: 261;
    }
    72.8% {
        --theme-color: 262;
    }
    73.1% {
        --theme-color: 263;
    }
    73.3% {
        --theme-color: 264;
    }
    73.6% {
        --theme-color: 265;
    }
    73.9% {
        --theme-color: 266;
    }
    74.2% {
        --theme-color: 267;
    }
    74.4% {
        --theme-color: 268;
    }
    74.7% {
        --theme-color: 269;
    }
    75.0% {
        --theme-color: 270;
    }
    75.3% {
        --theme-color: 271;
    }
    75.6% {
        --theme-color: 272;
    }
    75.8% {
        --theme-color: 273;
    }
    76.1% {
        --theme-color: 274;
    }
    76.4% {
        --theme-color: 275;
    }
    76.7% {
        --theme-color: 276;
    }
    76.9% {
        --theme-color: 277;
    }
    77.2% {
        --theme-color: 278;
    }
    77.5% {
        --theme-color: 279;
    }
    77.8% {
        --theme-color: 280;
    }
    78.1% {
        --theme-color: 281;
    }
    78.3% {
        --theme-color: 282;
    }
    78.6% {
        --theme-color: 283;
    }
    78.9% {
        --theme-color: 284;
    }
    79.2% {
        --theme-color: 285;
    }
    79.4% {
        --theme-color: 286;
    }
    79.7% {
        --theme-color: 287;
    }
    80.0% {
        --theme-color: 288;
    }
    80.3% {
        --theme-color: 289;
    }
    80.6% {
        --theme-color: 290;
    }
    80.8% {
        --theme-color: 291;
    }
    81.1% {
        --theme-color: 292;
    }
    81.4% {
        --theme-color: 293;
    }
    81.7% {
        --theme-color: 294;
    }
    81.9% {
        --theme-color: 295;
    }
    82.2% {
        --theme-color: 296;
    }
    82.5% {
        --theme-color: 297;
    }
    82.8% {
        --theme-color: 298;
    }
    83.1% {
        --theme-color: 299;
    }
    83.3% {
        --theme-color: 300;
    }
    83.6% {
        --theme-color: 301;
    }
    83.9% {
        --theme-color: 302;
    }
    84.2% {
        --theme-color: 303;
    }
    84.4% {
        --theme-color: 304;
    }
    84.7% {
        --theme-color: 305;
    }
    85.0% {
        --theme-color: 306;
    }
    85.3% {
        --theme-color: 307;
    }
    85.6% {
        --theme-color: 308;
    }
    85.8% {
        --theme-color: 309;
    }
    86.1% {
        --theme-color: 310;
    }
    86.4% {
        --theme-color: 311;
    }
    86.7% {
        --theme-color: 312;
    }
    86.9% {
        --theme-color: 313;
    }
    87.2% {
        --theme-color: 314;
    }
    87.5% {
        --theme-color: 315;
    }
    87.8% {
        --theme-color: 316;
    }
    88.1% {
        --theme-color: 317;
    }
    88.3% {
        --theme-color: 318;
    }
    88.6% {
        --theme-color: 319;
    }
    88.9% {
        --theme-color: 320;
    }
    89.2% {
        --theme-color: 321;
    }
    89.4% {
        --theme-color: 322;
    }
    89.7% {
        --theme-color: 323;
    }
    90.0% {
        --theme-color: 324;
    }
    90.3% {
        --theme-color: 325;
    }
    90.6% {
        --theme-color: 326;
    }
    90.8% {
        --theme-color: 327;
    }
    91.1% {
        --theme-color: 328;
    }
    91.4% {
        --theme-color: 329;
    }
    91.7% {
        --theme-color: 330;
    }
    91.9% {
        --theme-color: 331;
    }
    92.2% {
        --theme-color: 332;
    }
    92.5% {
        --theme-color: 333;
    }
    92.8% {
        --theme-color: 334;
    }
    93.1% {
        --theme-color: 335;
    }
    93.3% {
        --theme-color: 336;
    }
    93.6% {
        --theme-color: 337;
    }
    93.9% {
        --theme-color: 338;
    }
    94.2% {
        --theme-color: 339;
    }
    94.4% {
        --theme-color: 340;
    }
    94.7% {
        --theme-color: 341;
    }
    95.0% {
        --theme-color: 342;
    }
    95.3% {
        --theme-color: 343;
    }
    95.6% {
        --theme-color: 344;
    }
    95.8% {
        --theme-color: 345;
    }
    96.1% {
        --theme-color: 346;
    }
    96.4% {
        --theme-color: 347;
    }
    96.7% {
        --theme-color: 348;
    }
    96.9% {
        --theme-color: 349;
    }
    97.2% {
        --theme-color: 350;
    }
    97.5% {
        --theme-color: 351;
    }
    97.8% {
        --theme-color: 352;
    }
    98.1% {
        --theme-color: 353;
    }
    98.3% {
        --theme-color: 354;
    }
    98.6% {
        --theme-color: 355;
    }
    98.9% {
        --theme-color: 356;
    }
    99.2% {
        --theme-color: 357;
    }
    99.4% {
        --theme-color: 358;
    }
    99.7% {
        --theme-color: 359;
    }
    100.0% {
        --theme-color: 360;
    }
}
:root {
    animation: changeBgColor linear 26s 0.1s infinite none paused;
}
:root.runningAnimation {
    animation-play-state: running;
}
