:root {
    --range-height: 19px;
    --range-track-height: 3px;
    --range-thumb-size: 14px;
    --range-track-shiftY: calc(
        (var(--range-thumb-size) - var(--range-track-height)) / -2
    );
    --range-thumb-active-size: 14px;
    --range-track-active-shiftY: calc(
        (var(--range-thumb-active-size) - var(--range-track-height)) / -2
    );
    --range-scale-divisions-height: 4px;
    --range-scale-divisions-width: 1px;
    --range-option-font-size: 14px;
    --range-label-font-size: 17px;

    --theme-color: 213;
    --very-strong-color: hsl(var(--theme-color), 86%, 48%);
    --strong-color: hsl(var(--theme-color), 74%, 64%);
    --medium-color: hsl(var(--theme-color), 70%, 71%);
    --light-color: hsl(var(--theme-color), 70%, 87%);
    --very-light-color: hsl(var(--theme-color), 100%, 98.5%);
    --light-transparent5-color: hsl(var(--theme-color), 100%, 87%, 9%);

    --gray-color: hsl(0, 0%, 86%);
    --dark-gray-color: hsl(var(--theme-color), 10%, 34%);

    --range-track-fill-bg-color: var(--strong-color);
    --range-track-bg-color: var(--gray-color);
    --range-thumb-color: var(--strong-color);
    --range-thumb-active-color: var(--very-strong-color);
    --range-option-color: var(--medium-color);
    --range-option-fill-bg-color: var(--light-color);
    --range-option-bg-color: var(--gray-color);
    --range-output-font: var(--very-strong-color);
    --range-focus-outline: var(--strong-color);
    --range-output-border: var(--light-color);
    --range-output-bg-color: var(--light-transparent5-color);

    animation: changeBgColor linear 30s infinite;
    /* animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: changeBgColor; */
}
